.vote-button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  color: white;
  font-size: 1.1rem;
  transition: 0.25s;
}

.vote-button:hover {
  transform: scale(1.08);
  opacity: 0.9;
}